__pycache__/*
*.pyc
.vscode/*
.clangd/*
.ccls-cache/*
**.swp
.cache/*
python/*
Python/keys.json
data/json/**/current.json
data/csv/*
data/*.db
data/*.db-*
build/*
.vscode
WebApp/keys.json
WebApp/extern/uWebSockets
python/pybind11
Testing/*
compile_commands.json
release/
.firebase/*
.firebaserc
ecosystem-*
tags
